# Ignore Python virtual environment
venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore IDE configurations
.vscode/
*.swp
*.swo

# Ignore environment variables and credentials
.env
config/gcp_credentials.json

# Ignore logs and temporary files
logs/
*.log
tmp/
*.tmp

# Ignore compiled Python files
*.egg-info/
dist/
build/

# Ignore Databricks Notebooks checkpoints
notebooks_databricks/.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
desktop.ini
google-cloud-cli-514.0.0-linux-x86_64.tar.gz
